{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'recipes/css/styles.css' %}">
    <title>Recipes Home</title>
    <link rel="shortcut icon" href="{% static 'recipes/images/' %}">
    <style>
        .link {
            text-decoration: none;
            color: red;
            font-size: 18px;
            cursor: pointer;
            margin-top: 15px;
        }
    </style>
</head>
<body>
    <header class="page-header">
        <h1>Recipe App</h1>
        <nav class="main-navigation page-header__item">
            <ul role="menubar" class="navigation-list">
               <li role="presentation" role="menuitem" class="navigation-list__item"><a href="{% url 'users:signup' %}">Sign Up</a></li>
               <li role="presentation" role="menuitem" class="navigation-list__item"><a href ="{%url 'login' %}"> Login </a></li>
               <li role="presentation" role="menuitem" class="navigation-list__item"><a href="{% url 'recipes:list' %}">Recipes</a></li>
               <li role="presentation" role="menuitem" class="navigation-list__item"><a href="{% url 'users:profile' %}">Profile</a></li>
            </ul>
         </nav>
    </header>
    <main>
        <div class="main-div">
            <h1>Welcome!</h1>
            <a class="button" href ="{%url 'login' %}">Login</a>
            <a href="{% url 'recipes:about' %}" class="link">About me</a>
        </div>
    </main>
</body>
</html>